In [1]:
from splinter import Browser
from bs4 import BeautifulSoup as bs
import pandas as pd

In [2]:
executable_path = {'executable_path': '/Users/cpalo_000/chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [3]:
url = 'https://mars.nasa.gov/news/'
browser.visit(url)

In [64]:
html = browser.html
soup = bs(html, 'html.parser')

In [65]:
news_section = soup.find('ul', class_='item_list')

In [12]:
titles = news_section.find_all('h3')
paragraphs = news_section.find_all(class_='rollover_description_inner')

In [13]:
news_title = []
news_p = []
for item in titles:
    news_title.append(item.text)
for item in paragraphs:
    news_p.append(item.text)

## JPL Mars Space Images - Featured Image

In [56]:
main_url = 'https://www.jpl.nasa.gov'
url = main_url + '/spaceimages/?search=&category=Mars'
browser.visit(url)

In [63]:
html = browser.html
soup = bs(html, 'html.parser')

In [60]:
feat_img = soup.find('a', class_='button fancybox')
feat_img

<a class="button fancybox" data-description="Artist's rendering of NASA's Orbiting Carbon Observatory (OCO)-2, one of five new NASA Earth science missions set to launch in 2014, and one of three managed by JPL." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA17896_ip.jpg" data-link="/spaceimages/details.php?id=PIA17896" data-title="NASA's Orbiting Carbon Observatory (OCO)-2 (Artist Concept)" id="full_image">
					FULL IMAGE
				  </a>

In [62]:
featured_image_url = main_url + feat_img.get('data-fancybox-href')
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17896_ip.jpg'

## Mars Weather

In [66]:
url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url)

In [92]:
html = browser.html
soup = bs(html, 'html.parser')

In [93]:
weather = soup.find_all('div', class_="css-901oao r-hkyrab r-1qd0xha r-a023e6 r-16dba41 r-ad9z0x r-bcqeeo r-bnwqim r-qvutc0")

In [94]:
mars_weather = weather[0].text
mars_weather

'InSight sol 636 (2020-09-10) low -94.6ºC (-138.2ºF) high -17.1ºC (1.2ºF)\nwinds from the W at 7.3 m/s (16.4 mph) gusting to 20.9 m/s (46.8 mph)\npressure at 7.80 hPa'

## Mars Facts

In [96]:
# Visit the Mars Facts webpage and use Pandas to scrape the table containing facts about the planet
url = 'https://space-facts.com/mars/'
# Use Panda's
tables = pd.read_html(url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers,
   Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [97]:
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [101]:
# Use Pandas to convert the data to a HTML table string
pd.DataFrame.to_html(tables[0])

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'